@using GiftOfGivers.Client.Helpers

<div class="@GetProgressClasses()" @attributes="AdditionalAttributes">
    <div class="h-full w-full flex-1 bg-primary transition-all" style="transform: translateX(-@(100 - Value)%)"></div>
</div>

@code {
    [Parameter] public double Value { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string GetProgressClasses()
    {
        var baseClasses = "relative h-4 w-full overflow-hidden rounded-full bg-secondary";
        return Utils.Cn(baseClasses, Class);
    }
}