@using GiftOfGivers.Client.Helpers

<div class="@GetSkeletonClasses()" @attributes="AdditionalAttributes"></div>

@code {
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string GetSkeletonClasses()
    {
        var baseClasses = "animate-pulse rounded-md bg-muted";
        return Utils.Cn(baseClasses, Class);
    }
}